@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}


:root {
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --clr-dark: #000;
  --clr-light: #7e7d7d;
  --clr-bg: #eee;
  --clr-accent: #f1c755;
  --clr-accent2: #a8f155;

  --fs-h1: 2.3rem;
  --fs-h2: 1.9rem;
  --fs-h3: 1.5rem;
  --fs-p: 1.2rem;
  --fs-small: 1rem;
  --bs-primary: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  background: var(--clr-bg);
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
  width: 100vw;
  /* overflow-x: hidden; */
}

main {
  padding: 3rem;
}