.cart-item-container {
    padding-top: 20px;
    display: flex;
    max-width: 500px;
}

.cart-item-image {
    /* max-width: 70%; */
    width: 90%;
    border-radius: 10px;
    max-width: 240px;
}
.cart-details {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3)
}
.cart-item-text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
}


.cart-item-tagline {
    font-size: 0.9rem;
    padding: 10px 0px;
}

.cart-item-price {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold)
}

.cart-item-button {
    padding: 8px 16px;
    font-size: var(--fs-small);
    margin: 20px 0px;
    background-color: #eb3434;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: var(--fw-bold)
}

.cart-item-icon {
    font-size: var(--fs-h1);
    padding-right: 10px;
}

.price-trash-container {
    display: flex;
    justify-content: space-between;
}

.empty-cart {
    text-align: center;
    padding: 20px 0px;
}

.cart-item-icon {
    cursor: pointer
}

@media (min-width: 400px) {
    .cart-item-tagline {
       font-size: var(--fs-p)
    }
}

/* @media (min-width: 760px) {
    .cart-item-container {
        min-width: 333px;
        flex-wrap: wrap;
    }
} */